.dropdown {
    position: relative;
    display: inline-block;
}

h1 {
    text-align: center;
    position: relative;
    top: 30px;
}

select {
    position: relative;
    top: 50px;
    list-style-type: none;
    margin: 0;
    top: 45px;
    right: 0px;
    width: 200px;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 178px;
    height: 50px;
    background-color: #23344d;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-right: 30px;
}
    select:before {
        content: "";
        width: 0px;
        height: 0px;
        border: 10px solid;
        border-color: white transparent transparent transparent;
        right: 6px;
        top: 18px;
        background-color: #23344d;
    }


option a {
    color: #000;
    text-decoration: none;
}

option {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}

    option:last-child {
        border-bottom: none;
    }

    option:hover {
        background-color: #e5e5e5;
        color: white;
    }

