.dropdown {
    position: relative;
    display: inline-block;
}


p {
    position: relative;
    top: 100px;
    background-color: #23344d;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
}

.heading-one {
    text-align: center;
    position: static;
    padding: 15px 0;
    color: #fff;
    background-color: #23344d;
    font-family: 'Montserrat', sans-serif;
}
select {
    position: relative;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 230px;
    height: 50px;
    background-color: #23344d;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-right: 30px;
    font-family: 'Montserrat', sans-serif;
}

option a {
    color: #000;
    text-decoration: none;
}

option {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}

    option:last-child {
        border-bottom: none;
    }

    option:hover {
        background-color: #e5e5e5;
        color: white;
    }
.flex {
    display: flex; 
}
.flex.space-between {
    justify-content: space-between;
}
.flex.align-center {
    justify-content: center;
}
.select-wrapper {
    padding-right: 25px;
    padding-top: 30px;
}